@using EntityLayer.Concrete
@model List<Akademisyen>

@{
    ViewData["Title"] = "Index";
}

<br />

   <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
      <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Derslikler</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                 <tr>
                    <th>Akademisyen Ünvanı</th>
                    <th>Akademisyen Adı</th>
                    <th>Akademisyen Mail</th>
                    <th>Asistan</th>
                    <th>Sil</th>
                    <th>Düzenle</th>

                </tr>
          </thead>
          <tbody>
            @foreach( var item in Model)
           {
            <tr>
            <td>@item.AkademisyenUnvani</td>
            <td>@item.AkademisyenAdi @item.AkademisyenSoyadi</td>
            <td>@item.AkademisyenMail</td>
            <td>@item.Asistan</td>
            <td><a href="/Akademisyen/Delete/@item.AkademisyenId" class="btn btn-warning " onclick="return confirm('Silmek istediğinize emin misiniz ?')">Sil</a></td>
            <td><a href="/Akademisyen/Edit/@item.AkademisyenId" class="btn btn-primary ">Düzenle</a></td>
           </tr>
           }
               </tbody>
           </table>
           </div>
           </div>
           </div>
          
   <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
      
   <script src="~/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js"></script>